
:root{
    --nav-size: 250px;
}

.sidebar{
    display: block;
    width: var(--nav-size);
    position: absolute;
    transition: all 0.25s;
}
.bg-navbar{
    background-color: #9c27b0;
}

.fs-7 {
    font-size: 14px !important;
}

#mdb-navbar {
    height: 50px;
    font-size: 14px;
    transition: all 0.5s;
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"] > .bi-chevron-left::before {
    transform: rotate(-90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.content-wrapper, .main-footer {
    transition: all 0.25s;
}

@media (min-width: 767px) {
    .content-wrapper, .main-footer {
        margin-left: var(--nav-size);
    }
    .sidebar{
        width: var(--nav-size, 0px);
    }
}

@media (max-width: 767px) {
    :root{
        --nav-size: 0px;
    }
    .sidebar{
        display: none;
        border-right: solid 1px;
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
    }
}

@media only screen and (min-width: 767px) {
    #mdb-navbar {
        padding-left: var(--nav-size);

    }
}

.accordion-collapse>ul>li>a:hover, .sidebar-menu>li>a:hover{
    background: #f7f7f7;
}
